datacenter = "{{ DATACENTER }}"
data_dir = "/opt/consul"
encrypt = "{{ ENCRYPT_KEY }}"
advertise_addr = "{{ ansible_ens3.ipv4.address }}"
retry_join = ["hashilab-consul-0.rt.lab", "hashilab-consul-1.rt.lab", "hashilab-consul-1.rt.lab"]
acl = {
    enabled = true,
    default_policy = "allow",
    enable_token_persistence = true
    tokens = {
      "master" =  "{{ ACL_TOKEN }}"
    }
}
